<!DOCTYPE html>
<html lang="en">
<head>
  <title>LightBox</title>
  <link href="../styles/style.css" rel="stylesheet" type="text/css" >
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body style="background-color: #fff; margin: 120px;">

  <h1 style="text-align: center">
    Dandelions
  </h1>


  <div id="album">
    <div id="col1" class="col" style="margin-top:-90px"></div>
    <div id="col2" class="col"></div>
    <div id="col3" class="col" style="margin-top:-264px"></div>
  </div>

</body>

<script src="../js/main.js"></script>
</html>