<!DOCTYPE html>
<html lang="en">
<head>
  <title>LightBox</title>
  <link href="../styles/style.css" rel="stylesheet" type="text/css" >
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body style="background-color: #fff; margin: 120px;">
  <div id="mask">
  </div>

  <div>


    <div id="lightbox">
      <div id="close" style="float:right; color: black; cursor:pointer; margin-right: 20px">
        <p>X</p>
      </div>
        <div id="leftArrow" class="arrow"><img src="../circle-arrow-left.png"></div>
        <div id="rightArrow" class="arrow"><img src="../circle-arrow-right.png"></div>

    </div>
  </div>



  <h1 style="text-align: center">
    Dandelions
  </h1>


  <div id="album">
    <div id="col1" class="col" style="margin-top:-90px"></div>
    <div id="col2" class="col"></div>
    <div id="col3" class="col" style="margin-top:-264px"></div>
  </div>

</body>

<script src="../js/main.js"></script>
</html>