<!DOCTYPE html>
<html lang="en">
<head>
  <title>LightBox</title>
  <link href="../styles/style.css" rel="stylesheet" type="text/css" >
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body style="background-color:#fff;">
  <div id="mask">
  </div>


    <div id="lightbox">
      <div id="close" style="float:right; color: white; cursor:pointer; margin-right: 30px; font-size: 30px; top: 0px;">
        <p>X</p>
      </div>
      <div id="leftArrow" class="arrow"> <img style="height: 100px; width: 40px;" src="../images/chevron-arrow-left.png"> </div>
      <div id="rightArrow" class="arrow"> <img style="height: 100px; width: 40px;" src="../images/chevron-arrow-right.png"> </div>
    </div>



<div class="topbar">
  <img src="../images/Slack_Mark_Web.png" style="height: 100px; display: inline-block; vertical-align: center; top: 10px; position:fixed;">
  <h1 style="text-align: left; font-size: 60px; color: #865889; display: inline-block; margin-left: 100px;">
    Dandelions-Flickr
  </h1>
</div>

<div style="height: 100px; width: 100%;"></div>

  <div id="album">

  </div>

</body>

<script src="../js/album.js"></script>
<script src="../js/main.js"></script>
<script src="../js/photo.js"></script>
<script src="../js/thumbnail.js"></script>

</html>